.col-1{
    width:8.33333333333%;
    float:left;
}
.col-2{
    width:16.666666666666%;
    float:left;
}
.col-3{
    width:25%;
    float:left;
    border:1px solid red;
}
.col-4{
   width:33.33333333333333%;
   border:1px solid red;
}
.col-5{
    width: 41.6666666666666%;
    float:left;
}
.col-6{
    width:50%;
    float:left;
}
.col-7{
    width: 58.3333333333%;
    margin: 0 7px;
    border:1px solid red;
}
.col-8{
    width:66.666666666%;
  
}
.col-9{
    width:75%;
    float:left;
    border:1px solid red;
}

.navbar{
    background-color: rgba(231, 228, 228, 0.3);
    padding: 22px;
    position: sticky;
    z-index: 10000000;
    top: 0px;
}
 .logo{
    float: left;
}
.nav-item{
    float: right;
    padding: 0px 25px;
}
.navbar::after{
    content: "";
    display: table;
    clear: both;
}
. {
    z-index: 1000000000;
    border: 1px solid red;
    background-color: rgba(4, 0, 0, 0.6);
    text-align: center;
    height: 35vw;
    position: relative;

  
} 



 